* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  min-height: 90vh;

  background-color: #fff;
}

.table__container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 800px;
  height: 100%;
  margin-right: 40px;
  max-height: 60vh;
  overflow-y: auto;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 2px 10px #ccc;
}

thead,
tbody {
  padding: 20px;
}

thead tr {
  background-color: #ccc;
  text-transform: uppercase;
}

tr {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

tr:first-child,
tr:last-child {
  border: none;
}


td:first-child,
thead tr th:first-child {
  width: 40px;
  text-align: center;
}

td:last-child {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
}

td button {
  padding: 10px;
  background: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

td button:last-child {
  margin-left: 10px;
  color: red;
  border-color: red;
}


input{
  display: block;
  margin: 10px 0;
  width: 150px;
  height: 40px;
  border: 1px solid #ccc;
  text-indent: 10px;
  border-radius: 6px;
}

form button {
  padding: 8px 15px;
  display: block;
  margin: 10px 0;
}